<footer class="site-footer">
    <div class="footer-inner">
        <p class="footer-brand">Pitt Stop Ministries</p>
        <ul class="footer-links">
            <li><a href="mailto:pastorq@thepittstopministries.org">pastorq@thepittstopministries.org</a></li>
            <li><a href="tel:988">988 Suicide &amp; Crisis Lifeline</a></li>
        </ul>
        <p class="footer-copy">&copy; <%= new Date().getFullYear() %> Pit Stop Ministries. All rights reserved.</p>
    </div>
</footer>
