<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success Message</title>
    <link rel="stylesheet" href="/css/nav.css">
</head>
<body>
   
    <%- include ('partials/nav') %>

    <section id="container">
        <h2> Hey <%= name %></h2>
        <p>Thank you for filling out message, we will be right with you as soon as we can</p>
    </section>

</body>
</html> 