<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts</title>
</head>
<body>
        <h1>Contact Us</h1>

        <form action="/contacts" method="post">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required> <br><br>

             <label for="email">Email:</label>
            <input type="email" id="email" name="email" required> <br><br>

            <label for="category">Contact Type</label>

            <select name="category" id="category">
                <option value="Prayer Request">Prayer Request</option>
                <option value="Booking / Speaking">Booking / Speaking</option>
                <option value="Marriage / Officiate">Marriage / Officiate</option>
                <option value="General Questions">General Questions</option>
                <option value="Compliments / Testimonials">Compliments / Testimonials</option>
                <option value="Suicidal / Emergency">Suicidal / Emergency</option>
            </select>

            <label for="message">Message:</label>
            <textarea id="message" name="message" required></textarea> <br><br>
             
            <button type="submit">Submit</button>
        </form>
</body>
</html>