<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pitt Stop Ministries Donations</title>
    <link rel="stylesheet" href="/css/donations.css">
    <link rel="stylesheet" href="/css/nav.css">
</head>
<body>
    
    <%- include('partials/nav') %>
    
    <section id="body-main">
        <section id="section-h1">
            <h1>Bringing God's People Back to the Kingdom</h1>
        </section>

        <section id="section-h2">
            <p>God is not asking you do something you can do.</p>
            <p>He's asking you to be a part of something <span style="font-weight: bold;">HE</span> wants to do through you.</p>
        </section>

        <section id="btn-section">
            <h3>Give unto good ground, <br/> For it is HE that does the work.</h3>
            <button class="tithely-give-button" data-form="5d31f4b3-d682-418d-a663-cc76b7a8714f" 
            style="background-color: #00DB72; font-family: inherit; font-weight: bold; font-size: 19px; 
            padding: 15px 70px; border-radius: 4px; cursor: pointer; background-image: none; 
            color: white; text-shadow: none; display: inline-block; 
            float: none; border: none;">Give</button>
        </section>
        </section>
    <script src="https://static.tithely.com/give/give.js" defer></script>
</body>
</html>