<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pitt Stop Ministries Donations</title>
</head>
<body>
    <button class="tithely-give-button" data-form="5d31f4b3-d682-418d-a663-cc76b7a8714f" 
    style="background-color: #00DB72; font-family: inherit; font-weight: bold; font-size: 19px; 
    padding: 15px 70px; border-radius: 4px; cursor: pointer; background-image: none; 
    color: white; text-shadow: none; display: inline-block; 
    float: none; border: none;">Give</button>
    <script src="https://static.tithely.com/give/give.js" defer></script>
</body>
</html>