<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sermons</title>
    <link rel="stylesheet" href="/css/sermons.css">
    <link rel="stylesheet" href="/css/nav.css">
</head>
<body>
    <%- include('partials/nav') %>

    <section id="sermons-section">
        <h1>Sermons</h1>
        <p>Coming Soon...</p>
    </section>

    <script src="/js/nav.js" defer></script>
</body>
</html>